<div class="container">
  <h2 class="display-4">Your Upcoming Movie Nights</h2>
  <div class="row">
    <div class="col">
      <% @user.groups.upcoming.each do |group| %>
        <% if group.event_date >= Date.today %>
          <div class="col-sm">
            <a href="<%= group_path(group) %>" class="list-group-item list-group-item-action"><%= group.title %> on <%= local_date(group.event_date, '%B %e, %Y') %></a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to "See More Events", groups_index_path, class: "btn btn-primary m-2" %>
  <br><br>
</div>
