<div class="container">
  <h1 class="display-1">Movie Night</h1>
  <p class="lead">Create the ultimate movie night with your friends!</p>
  <%= render 'groups/events' %>
  <%= render 'movies/watchlist' %>
</div>
