<div class="container">
  <h1 class="display-1">MovieNight</h1>
  <p class="lead">Plan the ultimate movie night with your friends.</p>
  <%= render 'groups/events' %>
  <%= render 'movies/watchlist' %>
</div>
