<h1>Welcome#index</h1>

<h1>My Watchlist</h1>
<% @user.movies.each do |mov| %>
  <ul>
    <li>
      <%= mov.original_title %> <br>
      <img src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{mov.poster_path}" %>"/> <br>
      </li>
    </div>
  </ul>
<% end %>

<h1>My Groups</h1>
<%= link_to "Create a Group", new_group_path %>
