/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$wineberry: #990033;
$tomato: #FF6347;

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
}

.hidden {
  display: none;
}

.btn-primary {
    color: #fff;
    background-color: $wineberry;
    border-color: $wineberry;
}

.btn-primary:hover, .btn-primary:active {
  background-color: $tomato;
  border-color: $tomato;
  color: #fff;
}

.btn-primary a {
  padding: 0px;
  color: #fff;
  text-decoration: none;
}

.btn-outline-primary, {
  border: 1px solid $wineberry;
	color: $wineberry;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
	border-color: $wineberry;
  background-color: $wineberry;
  color: #fff;
}

nano {
  font-size: .25em;
}
